


.galaxy-card {
  background-color: black;
  color: white;
  border: 1px solid #202020;
  height: fit-content;
  text-align: left;
  width: auto;

}
.image-container {

 
  display: block;
  height: 0;
  overflow: hidden;
  padding: 56.25% 0 0 0;
  position: relative;
  width: 100%;

}

.image-container img {
 
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}
.title {
  text-align: center;
}

.info-container {
  margin: .3rem;
}
.icon {
  margin-bottom: 0.5rem;
}
.keyword-container {
  display: flex;
  flex-direction: row;
  column-gap: 0.25rem;
  flex-wrap: wrap;
  row-gap: 0.25rem;
}
.keyword {
  background: #2646A6;
  color: white;
  padding: 0.5rem;
  border-radius: 8px;
  font-size: 0.65rem;
}
.description {
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  line-height: 1.8em;
  font-size: 0.75rem;
}